<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Library App</title>
  <link rel="icon" 
        type="image/png" 
        href="/img/book.ico">
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/ajax.css">
</head>
<body>
  <div class="container-fluid">
    <div class="col-sm-6" id="fixed">
      <div id="hope">I hope you find what you're looking for!</div>
      <img src="/img/hp.jpg" id="findPic">
    </div>
    <div class="col-sm-6"></div>
    <div class="col-sm-6" id="foundBooks">

      <div class="row">
        <div class="col-sm-5">
          <img src="http://books.google.com/books/content?id=xQxhQgAACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api" class="shrink">
        </div>
        <div class="col-sm-7">
          <div class="title"><strong>Title:</strong> Harry Potter and the Prisoner of Azkaban (2009)</div>
          <div class="author"><strong>Author:</strong> J.K. Rowling</div>
          <div class="isbn"><strong>ISBN:</strong> 9780061947438</div>
          <div class="rating"><strong>Rating:</strong> 4</div>
          <div class="price"><strong>Retail Price:</strong> 9.99</div>
        </div>
      </div>
      
      <% jsonArray.forEach(function(book, index) { %>
        <div class="row">
          <div class="col-sm-5">
            <img src=<%= jsonArray[index].volumeInfo.imageLinks.thumbnail %> class="shrink">
          </div>
          <div class="col-sm-7">
            <div class="title"><strong>Title: </strong><%= jsonArray[index].volumeInfo.title %> (<%= jsonArray[index].volumeInfo.publishedDate.slice(0, 4) %>)</div>
            <div class="author"><strong>Author: </strong><%= jsonArray[index].volumeInfo.authors[0] %></div>
<!--             <div class="isbn"><strong>ISBN: </strong><%= jsonArray[index].volumeInfo.industryIdentifiers %></div> -->

          </div>
        </div>
      <% }) %>

      <div class="row" id="tryAgain">
        <div class="tryAgainText">Didn't find what you were looking for?</div>
        <a href="/" class="tryAgainText">Try Again!</a>
        <img src="/img/try.jpg" id="again">
      </div>

    </div>
  </div>
</body>
</html>

<!-- resource -->
<!-- jsonBody.items[0].volumeInfo.title => string
  'Mere Christianity'

jsonBody.items[0].volumeInfo.authors => array of strings
  ['C. S. Lewis']

jsonBody.items[0].volumeInfo.publishedDate => string 
  '2009-06-02'

jsonBody.items[0].volumeInfo.industryIdentifiers => array of objects
  [ { type: 'ISBN_10', identifier: '0061947431' },
    { type: 'ISBN_13', identifier: '9780061947438' } ]

jsonBody.items[0].volumeInfo.averageRating => number
  4

jsonBody.items[0].volumeInfo.thumbnail => string
  "http://books.google.com/books/content?id=xQxhQgAACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api"

jsonBody.items[0].saleInfo.retailPrice.amount => number
  9.99 -->






