<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Library App</title>
  <link rel="icon" 
        type="image/png" 
        href="/img/book.ico">
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/ajax.js"></script>
  <link rel="stylesheet" href="/css/ajax.css">
</head>
<body>
  <div class="container-fluid">
    <div class="col-sm-6" id="fixed">
      <div id="hope">I hope you find what you're looking for!</div>
      <img src="/img/hp.jpg" id="findPic">
    </div>
    <div class="col-sm-6"></div>
    <div class="col-sm-6" id="foundBooks">
      
      <% jsonArray.forEach(function(book, index) { %>
        <div class="row">
          <div class="col-sm-5">
            <% if (!jsonArray[index].volumeInfo.imageLinks) { %>
              <img src="" alt="Book Image" class="shrink">
            <% } else { %>
              <img src=<%= jsonArray[index].volumeInfo.imageLinks.thumbnail%> class="shrink">
            <% } %>
          </div>
          <div class="col-sm-7">
            <div class="title"><strong>Title: </strong><%= jsonArray[index].volumeInfo.title %>
              <% if (!jsonArray[index].volumeInfo.publishedDate) { %>
                (<%= "N/A" %>)
              <% } else { %>
                (<%= jsonArray[index].volumeInfo.publishedDate.slice(0, 4) %>)
              <% } %>
            </div>
            <div class="author"><strong>Author: </strong><%= jsonArray[index].volumeInfo.authors %></div>
            <div class="isbn"><strong>ISBN: </strong>
              <% if (!jsonArray[index].volumeInfo.industryIdentifiers) { %>
                <%= "N/A" %>
              <% } else if (jsonArray[index].volumeInfo.industryIdentifiers.length === 2) { %>
                <%= jsonArray[index].volumeInfo.industryIdentifiers[1].identifier %>
              <% } else { %>
                <%= jsonArray[index].volumeInfo.industryIdentifiers[0].identifier %>
              <% } %>
            </div>
            <div class="rating"><strong>Rating: </strong> <%= jsonArray[index].volumeInfo.averageRating %>/5</div>
            <div class="price">Retail Price: 
              <% if (!jsonArray[index].saleInfo.retailPrice) { %>
                <%= "FREE" %>
              <% } else { %>
                <%= jsonArray[index].saleInfo.retailPrice.amount %>
              <% } %>
            </div>
            <form action="/books" method="POST">
              <input type="hidden" name="book[thumbnail]" value="<% if (!jsonArray[index].volumeInfo.imageLinks) { %><%= "Book Image" %><% } else { %><%= jsonArray[index].volumeInfo.imageLinks.thumbnail %><% } %>">
              <input type="hidden" name="book[title]" value="<%= jsonArray[index].volumeInfo.title %>">
              <input type="hidden" name="book[year]" value="<% if (!jsonArray[index].volumeInfo.publishedDate) { %><%= "N/A" %><% } else { %><%= jsonArray[index].volumeInfo.publishedDate.slice(0, 4) %><% } %>">
              <input type="hidden" name="book[author]" value="<%= jsonArray[index].volumeInfo.authors %>">
              <input type="hidden" name="book[price]" value="<% if (!jsonArray[index].saleInfo.retailPrice) { %><%= "FREE" %><% } else { %><%= jsonArray[index].saleInfo.retailPrice.amount %><% } %>">
              <button type="submit" class="btn btn-info">Add to Cart</button>
            </form>
          </div>
        </div>
      <% }) %>

      <div class="row" id="tryAgain">
        <div class="tryAgainText">Didn't find what you were looking for?</div>
        <a href="/" class="tryAgainText">Try Again!</a>
        <img src="/img/try.jpg" id="again">
      </div>

    </div>
  </div>
</body>
</html>







