<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Library App</title>
  <link rel="icon" 
        type="image/png" 
        href="/img/book.ico">
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/ajax.js"></script>
  <link rel="stylesheet" href="/css/show.css">
</head>
<body>
  <div class="container-fluid">
    <div id="title">Books You've Bought...</div>
    <table class="table table-bordered">
      <thead>
        <th>Title</th>
        <th>Year</th>
        <th>Author</th>
        <th>Price</th>
      </thead>
      <tbody>
        <% book.forEach(function(book) { %>
          <tr>
            <td><a href="/books/<%= book.id %>"><%= book.title %></a></td>
            <td><%= book.year %></td>
            <td><%= book.author %></td>
            <td><%= book.price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  
</body>
</html>

